@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic";
  box-sizing: border-box;
}

body {
	background-color: rgb(220, 216, 216);
}

section {
	width: 100%;
	padding: 5%;
}

.hsection {
	padding-top: 200px;
  background: url('./images/main_big.png');
}

.speakers-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 3.5rem;
	font-weight: 800;
	line-height: 52px;
	color: brown;
	text-transform: uppercase;
}

ul,
li,
.programs,
.speakers{
	display: flex;
	width: 100%;
}

.programs {
	background: url(./images/bg-program.jpg);
	align-items: center;
}

li {
	font-size: 12px;
	line-height: 24px;
	gap: 6%;
	align-items:center ;
	background-color: rgba(43, 41, 41, 0.5);
color: white;
}

.programs, .program{
	flex-direction: column;
	gap: 16px;
}

.date {
	font: bold 18px Verdana;
	width: 90%;
	display: inline-block;
	text-align: center;
	margin-bottom: 4px;
	letter-spacing: 0px;
	color: rgb(87, 87, 87);
}
.program img {
  width: 64px;
  height: 58px;
}

.speakers {
	flex-direction: column;
	align-items: center;
	gap: 16px;
}
.speaker-img img{
	width: 178px;
	height: 177px;
}

.event-description,
.location {
	margin: 17px 12px 0px;
	width: 90%;
	padding: 16px 8px;
	line-height: 150%;
	font-size: 15px;
	text-align: justify;
	word-break: break-all;
	color: rgb(51, 51, 51);
	border: 2px solid #fff;
}

.location {
	text-align: center;
	border: none;
	padding: 0;
	margin: 0;
}

@media screen and (min-width: 768px) {
	ul{
		flex-direction: row;
	}

	.programs {
		flex-direction: column;
	}

	.program {
		flex-direction: row;
	}

	.program li {
		flex-direction: column;
	}

	.speakers {
		display: grid;
		grid-template-columns: 50% 50%;
		gap: 18px;
	}
	
	.date {
		font: bold 36px Verdana;
		text-align: left;
	}

	.location {
		text-align: left;
	}

	section {
		width: 100%;
		padding: 8% 14% ;
	}
}